<div>
    <div class="wrapper">
      <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <bh-sidebar></bh-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
      </div>
      <div class="main-panel">
        <!-- <bh-navbar></bh-navbar> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" class="fabBtn" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button (click)="openChat()" mat-fab>
      <mat-icon>message</mat-icon>
    </button></div>