<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let algorithm of algorithmArray">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">{{algorithm.Title}}</h4>
                        <p class="card-category">{{algorithm.Subtitle}}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <h3 *ngFor="let question of algorithm.ArrayQuestion">{{question}}</h3>
                        <h4 *ngFor="let arraydisplay of algorithm.ArrayDisplay">{{arraydisplay}}</h4>
                        <h4>The answer(s) are:</h4>
                        <p *ngFor="let arrayAnswer of algorithm.ArrayAnswer"><span><strong>{{arrayAnswer}}</strong></span></p>
                        <button mat-raised-button color="primary" (click)="coordinateAlgorithms(algorithm.Id,algorithm.AGIndex)">Execute array</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  